:root {
  --main-bg-color: white;
  --input-field-bg-color: #eeeeee;
  --darker-bg-color: #e8eaed;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--darker-bg-color);
}

#content {
  margin: 0 auto;
  max-width: 1000px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-color: var(--main-bg-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.url {
  font-family: Roboto Mono, Menlo, monaco, monospace;
  overflow-wrap: anywhere;
  /* color: #ff8bcb; */
  font-size: 14px;
  padding: 10px;
  font-weight: lighter;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  background-color: #eeeeef;
}

.header {
  padding: 10px 20px 10px 0px;
  margin: 10px;
  margin-bottom: 0px;
  width: 100%;
}

#requests {
  border-radius: 5px;
  width: 100%;
}

.request {
  background-color: #f5f5fc;
  margin-bottom: 20px;
}

.request .name {
  font-size: 1em;
  padding: 10px;
  display: inline;
}

#paths {
  padding: 10px;
}
.path {
  font-size: 1em;
}
.path:hover {
  cursor: pointer;
  font-weight: bold;
}

.grey {
  color: #c1c1c1;
}

.params {
  width: 100%;
  /* create a border except on top */
  /* border: 1px solid #cccccc;
  border-top: none;
  border-radius: 5px; */
  margin: 10px;
  margin-top: 0px;
}

.param {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.param label {
  display: flex;
  flex-direction: column;
  padding: 2px;
}
.param input {
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 2px;
  margin: 5px 0;
  background-color: #ffffff00;
}

label.param-label {
  display: block;
}

.triangle {
  display: inline;
  font-size: 0.8em;
}

.click {
  cursor: pointer;
  font-weight: normal;
}

.click:hover {
  font-weight: bold;
}
