body {
  font-family: Arial, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace, Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

#content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}

#urls {
  background-color: #e1e1e1;
}

.header {
  background-color: #c1c1c1;
  padding: 8px;
}

#requests {
  /* add nice blue brown color combo */
  border: 1px solid blue;
}

.request {
  border: 1px solid red;
  padding: 4px;
}

.path {
}

.param-required {
  color: red;
}

#path-selected {
  color: red;
  font-weight: bold;
}
#required {
  background-color: #c1c1c1;
}
#optional {
  background-color: #e1e1e1;
}

.grey {
  color: #c1c1c1;
}
.params {
  width: 100%;
}
.param {
  width: 500px;
}
input {
  border: none;
  background-color: #dceeff;
}
label.param-label {
  display: block;
}
